<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>login</h1>
                    <p>Pls enter email & password</p>
                </div>
                <form>
                  <form [formGroup]="loginForm" (ngLogin)="login()">
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input formControlName="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </form>
                  <div>
                      <a routerLink="/signup">click here to sign up</a>
                  </div>
            </div>
        </div>
    </div>
</div>