<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>sing up</h1>
                </div>
                <form>
                  <form [formGroup]="signupForm" (ngSubmit)="signUp()">
                    <div class="mb-3">
                        <label for="exampleInputPhonenumber" class="form-label">Full name</label>
                        <input formControlName="fullname" class="form-control" id="exampleInputPhonenumber" aria-describedby="">
                      </div>
                    <div class="mb-3">
                        <label for="exampleInputPhonenumber" class="form-label">Phone number</label>
                        <input formControlName="mobile" class="form-control" id="exampleInputPhonenumber" aria-describedby="">
                      </div>
                    <div class="mb-3">
                      <label for="exampleInputEmail1" class="form-label">Email address</label>
                      <input formControlName="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">Password</label>
                      <input formControlName="password" class="form-control" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
                </form>
                
                  <div>
                    <a routerLink="/login">login?</a>
                  </div>
            </div>
        </div>
    </div>
</div>